<div class="start-background align-items-center d-flex justify-content-center" style="height: 100vh">
  <%= link_to "X", root_path, class: "position-absolute text-info text-decoration-none fs-4", style: "top: 25px; right:25px" %>
  <div class="mx-5">
    <h2 class="text-primary fw-bold mb-4" style="font-size: xx-large">Crée ton compte</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-info mt-3">
        <%= f.input :email,
                    label: "Ton mail",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    label: "Ton mot de passe",
                    required: true,
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmation de ton mot de passe",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions d-flex justify-content-center">
        <%= f.button :submit, ">", class: "btn btn-info rounded-pill mt-4 fs-5", style: "width: 90px" %>
      </div>
    <% end %>
  </div>
</div>
