<div style="background-color: #F7F7F7">
  <h1 class="fw-bold text-primary my-4">Paramètres</h1>
  <div class="d-flex justify-content-center">
    <div class="mb-2 text-info">
      <h2>Mardi</h2>
      <h2>Date</h2>
    </div>
  </div>

  <%= simple_form_for(@running_session, method: 'patch', html: { data: { controller: "running-session-edit-form" } }) do |f| %>
    <%= f.input :free_or_not, as: :boolean, input_html: { checked: true, data: { action: "change->running-session-edit-form#freeOrNotChanged", running_session_edit_form_target: "freeOrNot"} } %>
    <%= f.input :kind, as: :select, collection: ['Easy', 'Long', 'Interval', 'Tempo'], label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white", data: { action: "change->running-session-edit-form#kindChanged", running_session_edit_form_target: "kind" } }, wrapper_html: { class: 'flex-grow-1' }, selected: @kind %>
    <div data-running_session_edit_form-target="intervalFields">
      <%= f.input :run_interval_km, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white", value: @run_interval_km, data: { action: "input->running-session-edit-form#updateRunIntervalTime", running_session_edit_form_target: "runIntervalKm" } }, wrapper_html: { class: 'flex-grow-1' } %>
      <%= f.input :run_interval_time, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white", value: @run_interval_time, data: { action: "input->running-session-edit-form#updateRunIntervalKm", running_session_edit_form_target: "runIntervalTime" } }, wrapper_html: { class: 'flex-grow-1' } %>
      <%= f.input :rest_interval_time, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white", value: @rest_interval_km }, wrapper_html: { class: 'flex-grow-1' } %>
      <%= f.input :run_interval_nbr, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white", value: @run_interval_nbr }, wrapper_html: { class: 'flex-grow-1' } %>
    </div>
  <% end %>
  <div class="row justify-content-around text-info">
    <p class="col">Dispo pour s'entrainer ?</p>
  </div>
</div>
