 <div style="margin-bottom: 100px;">
  <div style="display: flex; justify-content: space-evenly; align-items: center;">
    <%= link_to calendar.url_for_previous_view do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>

    <h3 style="font-size: 25px; font-weight: scroll-padding-inline-end: ;mi-bold; color: #004E89; padding-top: 24px; padding-bottom: 24px;"><%= t('date.month_names')[start_date.month].upcase_first %></h3>

    <%= link_to calendar.url_for_next_view do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </div>

  <% date_range.each_slice(7).each_with_index do |week, index| %>
    <div style="position: relative;">
      <div style="color: #004E89;background: #fff;position: absolute;top: 75px;transform: rotate(270deg);white-space: nowrap;padding-top: 10px;padding-bottom: 10px;padding-left: 42px;padding-right: 42px;border-radius: 14px;font-weight: regular;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);left: -34px;">
        Semaine <%= index + 1 %>
      </div>
      <div class="week-container" style="margin-left: 80px; color: #004E89;">
        <div class="simple-calendar">
          <table class="table table-striped">
            <tbody>
              <tr>
                <div class="next-week-calendar d-flex justify-content-between pb-2">
                  <% week.each do |day| %>
                      <turbo-frame id="<%= day.to_s %>">
                        <div class="next-week-card" data-bs-toggle="modal" data-bs-target="#sessionModal" data-turbo-frame="session_details" data-turbo-action="advance">
                          <div class="emoji-card-day align-items-center justify-content-between">
                            <% if @running_sessions.select { |s| s.date == day }.first.nil? %>
                              <h1 style="font-size: 20px">
                                😴
                              </h1>
                            <% else %>
                              <h1 style="font-size: 20px">
                                🏃
                              </h1>
                            <% end %>
                            <h4 class="p-0"><%= t('date.day_names')[day.wday].upcase_first %></h4>
                            <h4 class="p-0"><%= day.mday %> <%= t('date.abbr_month_names')[day.mon] %> <%= day.year %></h4>
                            <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
                          </div>
                        </div>
                      </turbo-frame>
                  <% end %>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
  .week-container {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

   .week-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .simple-calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 5px;
    border: none;
  }

  .day {
    color: #004E89;
    background-color: #FFE4D0 !important;
    padding: 15px !important;
    border-radius: 5px !important;
    text-align: center !important;
    width: 140px !important;
    height: 180px !important;
    text-align: center;
    vertical-align: center;
  }
</style>
