<div class="start-background px-5 d-flex align-items-center" >
    <div class="flex-fill" data-controller="toggle">
      <h1 class="fw-bold text-primary my-5 text-center" style="font-size: xx-large" data-toggle-target="togglableTitle1">Objectifs</h1>
      <h1 class="fw-bold text-primary my-5 text-center d-none" style="font-size: xx-large" data-toggle-target="togglableTitle2">Disponibilités</h1>
      <%= simple_form_for(@program, method: 'post') do |f| %>
        <div id="objectives" data-toggle-target="togglableBlock1">
          <h2 class="fw-bold text-info mb-3 fs-4">Ton objectif de course ?</h2>
            <div class="d-flex justify-content-between mb-4">
              <%= f.input :objective_km, as: :select, collection: [5, 10, 21.1, 42.195], label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white" }, wrapper_html: { class: 'flex-grow-1' } %>
              <span class="input-group-text align-self-baseline" id="basic-addon2" style="border: none; background: none;">km</span>
            </div>
          <h2 class="fw-bold text-info mb-3 fs-4">Date de ta course ?</h2>
          <%= f.input :race_date, html5: true, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white mb-4" } %>
          <h2 class="fw-bold text-info mb-3 fs-4">Ton objectif de chrono ?</h2>
          <div class="d-flex mb-4">
            <%= f.input :objective_time_hours, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white" } %>
            <span class="input-group-text align-self-baseline" id="basic-addon2" style="border: none; background: none;">h</span>
            <%= f.input :objective_time_mins, label: false, input_html: { style: "border-radius: 5px; background: #1a659e85;", class: "fst-italic text-white" } %>
            <span class="input-group-text align-self-baseline" id="basic-addon2" style="border: none; background: none;">mins</span>
          </div>
          <div class="d-flex justify-content-center">
            <p class="btn btn-info rounded-pill mt-4 mb-5 fs-5" style="width: 90px" data-action="click->toggle#fireDispos">&gt;</p>
          </div>
        </div>
        <div id="dispos" class="d-none" data-toggle-target="togglableBlock2">
          <h2 class="fw-bold text-info mb-3 fs-4">Tes dispos ?</h2>
          <div class="d-flex flex-column align-items-center">
            <%= f.collection_check_boxes :free_days, weekdays, :first, :last, {item_wrapper_class: 'mb-2 px-3 py-2 rounded-3 w-75 checkbox-wrapper-13 text-dark'}, class: "me-2"%>
          </div>
          <div class="d-flex justify-content-center">
            <%= f.submit ">", class: "btn btn-info rounded-pill mt-4 mb-5 fs-5", style: "width: 90px" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
