<!-- Mon Profil Section -->
<div class="start-background">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-10">
        <h2 class="text-uppercase fw-bold" style="color: #ff5a00;">Recap</h2>
      </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-10">
           <!-- Bouton d'édition pour Mon Profil -->
          <div class="card text-white bg-info mb-3" style="border-radius: 15px;">
            <div class="card-body">
           <div class="d-flex justify-content-between">
              <h5 class="card-title text-center">Mon profil</h5>
        <button class="btn btn-outline-secondary btn-sm float-end mb-4" data-bs-toggle="modal" data-bs-target="#editProfileModal">
          <i class="fa-solid fa-gear" style="font-size:1.2rem; color:white;"></i>
        </button>
        </div>
              <p class="card-text text-center">
                <strong><%= @user.first_name %> - <%= @user.age %> ans</strong><br>
                </p>
                <p class="card-text text-center">
                <div class="row text-center">
                <div class="col">
                  <p class="mb-0">Poids</p>
                  <p class="fw-bold"> <%= @user.weight %> kg</p>
                </div>
                <div class="col">
                  <p class="mb-0">VMA</p>
                  <p class="fw-bold"><%= @user.vma %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Mon Objectif Section -->
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="d-flex justify-content-between mt-3">
        <h4 class="text-dark fw-bold">Mon objectif</h4>
        <!-- Bouton d'édition pour Mon objectif -->
        <button class="btn btn-outline-secondary btn-sm float-end" data-bs-toggle="modal" data-bs-target="#editObjectiveModal">
          <i class="fa-regular fa-pen-to-square" style="color: black"></i>
        </button>
        </div>
        <div class="card text-center mb-3" style="border-radius: 15px;">
          <div class="card-body">
            <p class="card-text">
              <strong>Semi-Marathon le <%= @program.race_date.strftime("%d/%m/%Y") %></strong><br>
              <%= @program.objective_time %> min
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Ma semaine type Section -->
<div class="container mt-3">
  <div class="row">
    <div class="col-10 text-center">
      <h3 class="text-primary" style="font-weight: bold;">Ma semaine type</h3>
    </div>
  </div>

  <% @sessions.each do |session| %>
    <div class="row justify-content-center mb-3">
      <div class="col-10">
        <div class="card shadow-sm">
          <div class="card-body p-3">
            <!-- Icon and Day -->
<div class="date-icon">
             <div class="d-flex align-items-center justify-content-center mb-4 flex-grow-1 ">
              <!-- Icône alignée à gauche -->
              <div class="icon text-left">
                <p style="font-size: 1.3rem;">🏃</p>
              </div>
              <!-- Date et étoiles alignées au centre -->
              <div class="text-center">
                <h5 class="card-title mb-1" style="font-weight: bold;">
                  <%= session.date.strftime("%A") %>
                </h5>
                <!-- Placer les étoiles en dessous de la date -->
                <div>
                  <% session.run.difficulty.times do %>
                    <span class="text-warning">★</span>
                  <% end %>
                </div>
              </div>
            </div>
            </div>



            <!-- Run details -->
            <div class="col p-3 text-dark" style="border-radius: 10px; background-color: #FFE4D0;">
              <p class="mb-1" style="font-weight: bold; background-color: #FFE4D0;">Échauffement - 20 min </p>
              <p class="mb-1"> <%= session.run.kind %>
                <% if session.run.kind == "Interval" %>
                - <%= ((session.run.run_interval_km * session.run.run_interval_nbr) + (session.run.rest_interval_km * (session.run.run_interval_nbr - 1))).round(2) %> km
              <% elsif session.run.kind == "Long" || session.run.kind == "Easy" || session.run.kind == "Tempo"%>
                - <%= (session.run.run_interval_km * session.run.run_interval_nbr).round(2) %> km
              <% end %></p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Total time and session count -->
  <div class="row justify-content-center mt-4">
    <div class="col-10">
      <div class="card shadow-sm">
        <div class="card-body d-flex justify-content-between align-items-center p-3">
          <div>
            <p class="mb-0"><strong>Total parcouru:  </strong></p>
            <p class="mb-0"><%= @km_this_week%> km </p>
          </div>
          <div>
            <p class="mb-0"><strong>Nombre de séances: </strong></p>
            <p class="mb-0"><%= @sessions.count %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="row justify-content-center mt-3">
    <div class="col-10 text-center">
      <%= link_to 'Let\'s Run', home_path, class: 'btn btn-info', style: 'border-radius: 25px; padding: 10px 40px; font-size: 1.2rem;' %>
    </div>
  </div>
</div>



<!-- Modal for Editing Profile -->
<div class="modal-recap">
  <div class="modal fade" style="" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog text-dark">
      <div class="modal-content" style="border-radius: 12px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);">
        <div class="modal-header" style="border-bottom: 1px solid; border-radius: 12px 12px 0 0;">
          <h3 class="modal-title" id="editProfileModalLabel" style="">Modifier les informations de profil</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="">
          <%= form_with(model: @user, url: program_path(@program), method: :patch, local: true) do |f| %>
            <div class="mb-3 text-dark">
              <%= f.label :first_name, "Prénom: " %>
              <%= f.text_field :first_name, class: "form-control", style: "" %>
            </div>
            <div class="mb-3">
              <%= f.label :age, "Âge: ", style: "" %>
              <%= f.number_field :age, class: "form-control", style: "" %>
            </div>
            <div class="mb-3">
              <%= f.label :weight, "Poids (kg): ", style: "" %>
              <%= f.number_field :weight, class: "form-control", style: "" %>
            </div>
            <div class="mb-3">
              <%= f.label :vma, "VMA (km/h): ", style: "" %>
              <%= f.number_field :vma, class: "form-control", style: "" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <%= f.submit "Enregistrer", class: "btn btn-primary", style: "color: white" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Editing Objective -->
<div class="modal fade" id="editObjectiveModal" tabindex="-1" aria-labelledby="editObjectiveModalLabel" aria-hidden="true">
  <div class="modal-dialog text-dark">
    <div class="modal-content" style="border-radius: 12px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);">
        <div class="modal-header" style="border-bottom: 1px solid; border-radius: 12px 12px 0 0;">
        <h3 class="modal-title" id="editProfileModalLabel" style="">Modifier les informations d'objectif</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="">
        <%= form_with(model: @program, url: program_path(@program), method: :patch, local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :race_date, "Date de la course", style: "" %>
            <%= f.date_field :race_date, class: "form-control", style: "" %>
          </div>
          <div class="mb-3">
            <%= f.label :objective_time, "Objectif (min)", style: "" %>
            <%= f.number_field :objective_time, class: "form-control", style: "" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <%= f.submit "Enregistrer", class: "btn btn-primary", style: "color: white" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
