<!-- Mon Profil Section -->
<div class="container mt-5 recap_container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-danger">Recap</h1>
    </div>
  </div>

  <!-- Mon Profil Section -->
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="text-primary">Mon profil</h3>
        <div class="p-3 bg-light rounded text-dark">
          <p><strong>Prénom :</strong> <%= @user.first_name %></p>
          <p><strong>Âge :</strong> <%= @user.age %></p>
          <p><strong>Poids :</strong> <%= @user.weight %> kg</p>
          <p><strong>VMA :</strong> <%= @user.vma %> km/h</p>
        </div>
    </div>
  </div>

  <!-- Mon Objectif Section -->
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="text-primary">Mon objectif</h3>
        <div class="p-3 bg-light rounded text-dark card-white">
          <p><strong>Type de course :</strong> Marathon</p>
          <p><strong>Date :</strong> <%= @program.race_date.strftime("%d/%m/%Y") %></p>
          <p><strong>Objectif :</strong> <%= @program.objective_time %> min</p>
        </div>
    </div>
  </div>

  <!-- Ma Semaine Type Section -->
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="text-primary">Ma semaine type</h3>

      <% @sessions.each do |session| %>
        <div class="card mt-3" style="background-color: #f5f5dc;"> <!-- Background color similar to the one in the image -->
          <div class="card-body">
            <h5 class="card-title">
              <%= session.date.strftime("%A") %>
              <span class="float-right" style="font-size: 0.9rem; color: #808080;"> <!-- Slightly smaller and grey text for duration -->
                <% if session.run.run_interval_time %>
                  <%= session.run.run_interval_time * session.run.run_interval_nbr %> min
                <% else %>
                  <%= session.run.run_interval_km %> km
                <% end %>
              </span>
            </h5>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-1" style="background-color: #f4a460; color: #fff; padding: 5px 10px; border-radius: 5px;">
                <%= session.run.kind %> - <%= session.run.run_interval_time %>min - <%= session.run.run_interval_pace %>km/h
              </p>
            </div>
            <p class="mt-2"><strong>Difficulté :</strong></p>
            <p>
              <% session.run.difficulty.times do %>
                <span class="text-warning">★</span>
              <% end %>
              <% (5 - session.run.difficulty).times do %>
                <span class="text-muted">★</span>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
