<div class="content-home-page">
  <div class="param-bar-home-page container-fluid d-flex align-items-center justify-content-between">
    <%= link_to do %>
        <button class="notification-home-page-btn"></button>
      <% end %>

    <%= link_to do %>
      <button class="settings-btn"></button>
    <% end %>
  </div>

  <div class="txt-intro">
    <p>On court</p>
    <p>aujourd'hui ?</p>
  </div>

<div class="day-run-container">
  <div class="info-item container-fluid d-flex align-items-center justify-content-between">
    <p class="run-session-date"><%= @run_session.date.strftime("%A %d %B") %></p>
    <p><%= @formatted_total_time %></p>
  </div>
  <div class="info-item">
    <div class="block-seance container-fluid d-flex align-items-center justify-content-between">
      <p>Echauffement</p>
      <p><%= @formatted_warmup_time %></p>
      <p>5:55/min/km</p>
    </div>
    <% if @run.kind == "interval run" %>
      <div class="block-seance container-fluid d-flex align-items-center justify-content-between">
        <p><%= @session_details[:intervals] %> x <%= @session_details[:interval_distance] %>m</p>
        <p><%= @session_details[:interval_pace] %>/min/km</p>
      </div>
    <% elsif @run.kind == "easy run" || @run.kind == "long run" %>
      <div class="block-seance container-fluid d-flex align-items-center justify-content-between">
        <p><%= @session_details[:distance] %> km</p>
        <p><%= @session_details[:pace] %>/min/km</p>
      </div>
    <% end %>
    <div class="info-item-note">
      <p>Difficulté</p>
    </div>
    <div class="info-item-star container-fluid d-flex justify-content-center">
      <% @run_star.times do %>
        <p class="star-notation">★</p>
      <% end %>
    </div>
  </div>
</div>


<div class="next-week-calendar container-fluid d-flex justify-content-between">
  <% (Date.current..(Date.current + 6.days)).each do |date| %>
    <div class="next-week-card">
      <h1><%= date.strftime("%A") %></h1>
      <h1><%= date.day %></h1>
      <% session = @next_week_sessions.find { |s| s.date == date } %>
      <% if session %>
        <h2><%= session.run.formatted_time(session.run.total_time) %></h2>
        <p><%= session.run.kind.capitalize %></p>
      <% else %>
        <h2></h2>
        <p>Repos</p>
      <% end %>
    </div>
  <% end %>
</div>


<div class="data-home-page container-fluid d-flex flex-column">
  <div class="progress custom-progress" role="progressbar" aria-label="Example with label" aria-valuenow="<%= @completion_percentage %>" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar custom-progress-bar" style="width: <%= @completion_percentage %>%"><%= @completion_percentage %>%</div>
  </div>
  <div class="container-data-2 container-fluid d-flex justify-content-between">
    <div class="container-days-before-run"><%= @days_before_race %> jours avant votre course</div>
    <div class="container-run-this-week">Cette semaine vous avez couru <%= @km_this_week %> km</div>
  </div>
</div>


<div class="nav-bar-home-page container-fluid d-flex align-items-center justify-content-between">
  <%= link_to do %>
      <button class="calendar-btn"></button>
    <% end %>

  <%= link_to do %>
    <button class="go-btn"> Go </button>
  <% end %>

  <%= link_to do %>
    <button class="profil-btn"></button>
  <% end %>
</div>
